/* CSS files add styling rules to your content */
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;100;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,100;0,600;0,700;1,300;1,400;1,100;1,600;1,700&display=swap');


* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-weight: 400;
  line-height:  131%;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Spline Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #fefefe;
  color: #1a1a1a;
  margin: 1rem 1rem;
  padding: 0;
  line-height: 170%;
}

/**  basic text */

a {
  text-decoration: none;
  color: #1a1a1a;
  transition: all 0.2s ease-in-out;
  font-weight: 300;
  font-family: "Spline Sans Mono", monospace;
  letter-spacing: -1px;
}
a:hover {
  background: #A2A2A2;
  font-style: italic;
  transition: all 0.5s ease-in-out;
}
p a {
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
  font-weight: 300;
  font-family: "Spline Sans Mono", monospace;
  letter-spacing: -1px;
}
p {
  font-size: 0.9rem;
  margin: 0 0 1rem;
  font-family: "Spline Sans", sans-serif;
}
h1 {
  font-size: 1.2rem;
  font-family: "Spline Sans Mono", monospace;
  font-weight: 200;
  letter-spacing: -1px;
  vertical-align: center;
  width: 100%;
  text-decoration: none;
  margin: 0rem;
}
h2 {
  font-size: 1.2rem;
  margin: 2rem auto;
  font-family: "Spline Sans Mono", monospace;
  font-weight: 300;
  letter-spacing: -1px;
}
h2 a {
	font-weight: 300;
}
h3 {
  font-size: 1rem;
  font-weight: 300;
}
h4 {
  font-family: "Spline Sans Mono", monospace;
  letter-spacing: -1px;
  font-weight: 200;
  font-size: 1rem;
  margin: 1rem 0 1rem;
}
h4 a:hover  {
  background: none;
}
.section_title {
  border-bottom: 1px solid #A2A2A2;
}

.gray {
  color: #A2A2A2;
}

.gray:hover {
  color: #fefefe;
}

/** header*/
.nav {
  width: 100%;
}

/** projects */

#project img {
  width: 100%;
  height: auto;
}

.line {
  border-bottom: .5px solid #A2A2A2;
}

.motion {
  height: auto;
}

.motion img {
  width: 80%;
  height: auto;
}

.about {
  margin-top: 5rem;
}

/** table */

.table {
  margin-bottom: 1rem;
}

.table a
{
    display: block;
    text-decoration: none;
}

#list {
	line-height: 30px;
	margin: 3rem 0;
}

#list table {
	width: 100%;
	padding: 0px;
	border-collapse: collapse;
}

#list th, td {
	border-bottom: 1px solid #1a1a1a;
	padding-left: 11px;
}

tr {
	height: 100%;
	transition: all 0.2s ease-in-out;
}

tr:not(:first-child):hover {
	background-color: #A2A2A2;
	transition: all 0.2s ease-in-out;
}

td {
	vertical-align: top;
}

td img {
	height: 120px;
	width: auto;
  margin-top: 1rem;
}

td a {
	color: #1a1a1a;
}

td p {
  margin: 1rem 0 0;
}
/** Image tiles */

#content {
  clear: all;
  margin-bottom: 1rem;
}

#content #tile {
  display: inline-block;
}

#content img {
  height: 380px;
  width: auto;
  margin: .1rem .1rem;
}
/** footer */

footer {
  margin: 5rem 0;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 0.2rem;
}

.right-align {
  text-align: right;
  margin: 0 0 3rem 0;
}

/** media queries */

@media all and (max-width: 1024px) {
  body {
    font-size: 0.9rem;
  }
}
@media all and (max-width: 640px) {
  body {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.1rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: .9rem;
    margin-top: 1rem;
  }

}
