@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 * Global
 */

body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

body {
  background: #F8F8F8;
  font-family: "Heebo", sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 1rem auto;
}
/**
 * General
 */
a {
  text-decoration: none;
  color: rgba(35, 35, 35, 1);
  font-family: "Epilogue", sans-serif;
  border: 0.02rem solid #A3A3A3;
  transition: all 1s;
  padding: 0.5rem;
}
nav,
.lownav {
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  border-bottom: 0.02rem solid #A3A3A3;
  justify-content: space-around;
  width: 100%;
}
nav .home {
  font-weight: 600;
  border: none;
}
h1 a,
h1 {
  font-weight: 300;
  font-size: 3rem;
  font-family: "Epilogue", sans-serif;
  line-height: 1.1;
}
h2 {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-left: 2rem;
  line-height: 1.4;
}
h3 {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 1.5rem;
}
h4 {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
p {
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.prtext p {
  font-size: 0.8rem;
  line-height: 1.2;
}

small {
  font-size: 0.8rem;
  font-weight: 100;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
footer h4 {
   margin-left: 2rem;
}
.subtitle {
  padding-top: 0.5rem;
  margin-top: 2rem;
  border-top: 0.02rem solid #A3A3A3;
}
.subtitle h2 {
  margin-left: 5rem;
}

header {
  width: 70%;
  text-align: left;
  margin: 3rem 3rem;
}
header h1 {
  margin: 1rem;
  padding: 0;
}
header p {
  width: 50%;
  margin: 3rem 4rem;
}
main {
  max-width: 100%;
	width: 100%;
}

/*work section*/
.work {
  margin: auto;
  width: 60%;
}
.project {
  margin: 2rem auto;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  border: 0.02rem solid #232323;
}
.prtext {
  margin: 0;
  padding: 0;
}
.prtext a, p {
  margin: .5rem .5rem;
  display: block;
}
img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0.02rem solid #ABABAB;
}
/*personal projects*/
.personal {
  margin: auto;
  padding: 2rem;
  width: 60%;
}
.pproject {
  margin: 2rem auto;
  padding: 0;
  border: 0.02rem solid #232323;
}
.pproject a, p {
  margin: .5rem .5rem;
  display: inline-block;
}

/*about me section*/
#about .onepg {
  margin: auto;
  width: 50%;
}
/*project page*/
.heapg {
  margin: 2rem auto;
}
.ppg {
  width: 90%;
  margin: auto;
  padding: 1rem;
}
.twopg {
  margin: 2rem auto;
  display: flex;
  flex-flow: column;
}
.twopg p{
  width: 60%;
  margin: 1rem auto;
}
.subtitlepg {
  margin: 2rem auto;
  border-bottom: 0.02rem solid #A3A3A3;
  width: 60%;
}
.subtitlepg h2 {
  font-size: 1.5rem;
}

.lownav {
  margin: 3rem auto;
  border-bottom: 0.02rem solid #A3A3A3;
  font-size: 1.1rem;
}

/*end project*/
a:hover {
background: rgb(251,251,32);
background: linear-gradient(121deg, rgba(251,251,32,0.5) 0%, rgba(19,192,250,0.5) 100%);
  border-radius: 60%;
}

@media (max-width: 700px) {
  body {
    max-width: 64rem;
  }
  header,
  main,
  div {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  header {
    margin: 5rem auto;
  }
  header h2 {
    width: 100%;
    margin: 1rem auto;
  }
  h1 a, h1 {
    font-size: 1.8rem;
  }
  h2, nav {
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  .work {
    width: 80%;
  }
  .prtext {
    margin: 0;
    padding: 0;
  }
  .subtitle {
    margin: 1rem auto;
  }
  .personal {
    width: 90%;
  }
  .pproject a, p {
  display: inline-block;
}
  #about .onepg {
    width: 90%;
  }
  .twopg {
    width: 80%;
    margin: 1rem auto;
  }
}
