@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/**
 * Global
 */

body,
html {
	min-height: 100vh;
	margin: 0;
	padding: 0;
  display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

body {
	background: #F9F8FA;
  margin: 1.5rem;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  color: rgba(35, 35, 35, 1);
}
/**
 * General
 */
a {
  text-decoration: none;
  color: rgba(35, 35, 35, 1);
  font-family: 'Manrope', sans-serif;
  border-bottom: 0.02rem solid #232323;
  transition: all 1s;
}
nav, .lownav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem;
	font-size: 1.1rem;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  border-top: 0.01rem #232323 solid;
}
nav .home {
  border-bottom: none;
  font-weight: 600;
}
h1 a, h1 {
  text-align: left;
  font-weight: 700;
  font-size: 3rem;
  font-family: 'Philosopher', sans-serif;
  line-height: 1;
  text-rendering: optimizeLegibility;
}
h2 {
  font-weight: 400;
}
h3 {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}
.other h4 {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}
h4 {
  font-weight: 400;
}
p {
  font-size: 1rem;
}
.subtitle {
  border-top: 0.02rem solid #232323;
  padding-top: 0.5rem;
  margin: 3rem auto;
}
div, footer, .other {
  width: 100%;
}
header {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: 10rem auto;
}
header h1 {
  margin: 1rem;
  padding: 0;
}
header h2 {
  width: 50%;
  margin: 1rem;
  padding: 0;
}
header h3 {
  margin: 0;
  padding: 0;
}
header h4 {
  margin: 0;
  padding: 0;
}
main {
  margin: 3rem auto;
  width: 100%;
}
footer h3 {
  margin-bottom: 1rem;
}
/*what i do section*/ 
.project {
  margin: 2rem 2rem;
  padding: 1rem;
  border: 0.02rem solid #232323;
  width: 60%;
  justify-content: flex-start;
}
.prtext {
  margin-top: 1rem;
}
img {
  width: 100%;
  height: auto;
}
/*what else i do section*/ 
.other {
  width: 40%;
  margin: 1rem 1rem;
}
.box {
  border: 0.1rem solid #232323;
  margin: 1rem;
  text-align: center;
  transition: all 1s;
}
/*about me section*/ 
#about .onepg {
  width: 50%;
  margin: 2rem 2rem;
}
/*project page*/ 
.heapg {
  justify-content: space-between;
  padding: 0;
  margin: 5rem auto;
}
.twopg {
  margin: 2rem 2rem;
  width: 60%;
}

.lownav {
   justify-content: space-between;
}

/*end project*/ 
a:hover {
background: rgb(0,172,255);
background: linear-gradient(90deg, rgba(0,172,255,0.5) 0%, rgba(253,220,29,0.5) 50%, rgba(251,147,0,0.5) 100%);
  border-radius: 80%;
}
img:hover { 
  background: none;
}
.box:hover {
  background: rgb(0,172,255);
background: linear-gradient(90deg, rgba(0,172,255,0.5) 0%, rgba(253,220,29,0.5) 50%, rgba(251,147,0,0.5) 100%);
  border-radius: 80%; 
}

@media (max-width: 700px) {
  header, main, div {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
  header {
    margin: 5rem auto;
  }
  header h2 {
   width: 100%;
    margin: 1rem auto;
  }
h1 a, h1 {
  font-size: 2rem;
}
  h2, nav {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.3rem;
  }

.projects {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}
 }

  
  

